body
{
    background: black;
}
#gameCanvas
{
    background: blue;
    border: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#playerImage, #backgroundImage,
#cat_00, #cat_10, #cat_20, #cat_30, #cat_40, #cat_50, #cat_60, #cat_70, #cat_80
{
    display: none;
}